tr.nested-fields   
  td.wd30
    .input-field    
      = text_field_tag :food_name, '', class: 'foodname_autocomplete' 
  td.wd30
    .input-field    
      = text_field_tag :packaging, '', class: 'packaging_name', disabled:'disabled'
      = f.hidden_field :food_package_id, class: 'food_package_id' 
  td.wd10
    .input-field   
      = text_field_tag :package_contents,'', class:'package_contents', disabled:'disabled'
  td.wd10
    .input-field    
      = f.number_field :qty_order, class:'qty_order'
      = f.hidden_field :qty_received, value:0
  / td.wd10
  /   .input-field
  /     = text_field_tag :total,'',class:'total_qty', disabled:'disabled'
  / td.wd10
  /   .input-field
  /     = text_field_tag :unit, '', class: 'unit', disabled:'disabled'
  td.wd10
    .input-field.center
      = link_to_remove_association f, class: "waves-effect waves-teal red-text"
        i.material-icons delete

javascript:
    $(document).on('focus', '.foodname_autocomplete', function() {
      $(this).autocomplete({
          source: "/food_packages_list?format=json&sp=" + $('#food_order_food_supplier_id').val().toString(),
          max: 30,
          minLength: 3,
          create: function() {
            $(this).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
              return $( "<li>" )
                .append( "<div>" + item.food_name + " | " + item.packaging +"</div>" )
                .appendTo( ul );
            }
          },
          select: function( event, ui ) {
            insert_product_values(event.target, ui.item); 
            return false;
          }
        });  
      
      function insert_product_values(el, food_package) {
        let row = $(el).closest('tr');
        $(el).val(food_package.food_name);
        console.log(food_package);
        insert_values(food_package, row);
      }   
    });

    $(document).on('change', '.foodname_autocomplete', function() {
      if($(this).val() === '') {
        $(this).closest('tr').find(".food_package_id").val(null);
      }
    });
    

    var insert_values = function (data, el) {
      var food_package = data;
    
      el.find(".packaging_name").val(food_package.packaging);
      el.find(".package_contents").val(food_package.unit_food + ' ' + food_package.food_unit);
      el.find(".food_package_id").val(food_package.id)
      
      
    };

   
