
td = item.fpb 
td = item.requestor_name || "N/A"
td = item.description
td.right-align = "#{item.quantity} #{item.unit}"
td 
  = link_to edit_account_requisition_path(item.fpb, date: @date, supplier: @supplier, account: @account, item: @item), remote: true
    = item.budget || "--"
td = item.supplier
td.right-align = link_to currency(item.line_amount, currency: item.currency), edit_order_item_path(item, date: @date, supplier: @supplier, account: @account, item: @item), remote: true
