

.footline#bottom
  .row
    .col.s5.left
      |RAPOR - #{@student.name.upcase}
    .col.s2.center
      #number
    .col.s5 style="text-align:right"
      |SMA Cahaya Bangsa Classical School

.page-break


css:
  
  body {
    /* Set "my-sec-counter" to 0  */
      counter-reset: page;
  }

  #number::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: page;
    content: counter(page);
  } 

  .footline {   
    border-top: 1px solid black;
    margin-left: auto;
    margin-right: auto;  
  }
  

  @media print{
    #bottom {
      margin-left: auto;
      margin-right: auto;
      position: fixed;
      left: 1cm;
      bottom: 0.5cm;
      width:90%;    
    }    
  }

  /*@media print { 
      .footline {   
      text-align: center;
      border-top: 1px solid black;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: fixed;
      left: 1cm;
      bottom: 0.5cm;
      width:90%;    
    }
  } */ 
