| $("#edit-modal-content").html('#{j render "modal_form"}');
| $('#edit-modal').openModal();
| $('#food_packages_food_supplier_food_package_id').material_select();
| $('#food_packages_food_supplier_date_update_1i').material_select();
