// Grays
// -------------------------
$black:                 #06101D;
$grayDarker:            #212121;
$grayDark:              #424242;
$gray:                  #747474;
$light-grey:            #9e9e9e;
$lighter-grey:          #e0e0e0;
$offWhite:              #FAFAFA;
$white:                 #FFF;
$blue:									#2196F3;
$darker-grey:			#292c33;
$dark-grey:				#2d3039;
$brightBlue:			#389bfe;
$muted-red:				#f5494d;
$kuning-podang:	  #e7580b;
$muted-pink:			#f79394;

$navbar-placeholder-text-color: #666;

.maroon {
	background-color: maroon !important;
}

.show-image {
	width:  120px;
}

.small-text {
	font-size: 10px;
}

.medium-text {
	font-size: 12px;
}

.logo-icon {
	height: 50px;
	margin: 6px 6px;
}

.small-logo-icon {
	height: 80px;
	margin: -10px 10px;
}

.label {
	color: $light-grey;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}

.container-padding {
	padding: 18px;
}

.horizontal-scroll {
	overflow-x: auto;
}

// ============================================ Table ===============================================
table {
		td.wd3  { width:  3%; }
		td.wd5  { width:  5%; }
		td.wd10 { width: 10%; }
		td.wd12-5 { width: 12.5%; }
		td.wd15 { width: 15%;	}
		td.wd17 { width: 17%;	}
		td.wd20 {	width: 20%;	}
		td.wd25 {	width: 25%;	}
		td.wd30 {	width: 30%;	}
		td.wd35 {	width: 35%;	}
		td.wd40 {	width: 40%;	}
		td.wd45 {	width: 45%;	}
		td.wd50 {	width: 50%;	}
		td.wd55 {	width: 55%;	}
		td.wd60 {	width: 60%;	}
		td.wd65 {	width: 65%;	}
		td.wd70 {	width: 70%;	}
		td.wd75 {	width: 75%;	}
		td.wd80 {	width: 80%;	}
		td.wd85 {	width: 85%;	}
		td.wd90 {	width: 90%;	}
		td.wd95 {	width: 95%;	}
}
table.compact {
	width: 100%;
	// white-space: nowrap;
	// table-layout: fixed;
	
	th { 
		padding: 5px 5px;
	}

	td.ellipsize {
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		white-space: nowrap;
	}
	td {
		padding-top: 4px;
		padding-bottom: 4px;
	}
	
	.ellipsis {
	    position: relative;
	}
	.ellipsis:before {
	    content: '&nbsp;';
	    visibility: hidden;
	}
	.ellipsis span {
	    position: absolute;
	    left: 0;
	    right: 0;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}

	thead {
		tr.compact-row {
			th {
				padding-top: 2px;
				padding-bottom: 2px;
			}
		}
	}	
}

table.striped > tbody > tr:nth-child(odd) {
	background-color: #dfdfdf;
}

table.description-list {
	tr {
		td {
			padding: 0;
		}
		td:first-child {
			width: 10em;
		}
	}
}

td.actions {
	min-width: 112px;
	a {
		margin-right: 0;
	}
}

td > a > i.material-icons {
	margin-right: 5px;
	margin-left: 5px;
}

table.medium {
	font-size: 0.9rem;
}
.table-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}
tr.header-shade {
	td {
		border-radius: 0;
		color: #9e9e9e;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
		p {
			color: $dark-grey;
			margin: 0;
		}
	}
	background-color: $lighter-grey;
}

tr.highlight {
	background-color: $muted-pink;
}

td.right-align, th.right-align {
	text-align: right;
}

td.left-align, th.left-align {
	text-align: left;
}

td.center-align, th.center-align {
	text-align: center;
}

.compact {
	input, .select-wrapper, textarea {
		margin-bottom: 0px !important;
	}
} 

table.bordered {
	tr, td { 
		border: 1px solid grey;
	}
	th { 
		text-align: center; 
		border-bottom: 1px solid grey; 
		border-right: 1px solid grey;
	}
}
table.section-bordered {
	border: 2px solid black;
	thead {
		tr:last-child {
			border-bottom: 2px solid black;
		}
	}
	tfoot {
		tr:first-child {
			border-top: 2px solid black;
		}
	}
}

// ========================================= Template  ==============================================

.template {
	td, th {
		padding: 0
	}

	table.template-body {
		 font-size:16px;
	}
}

// ============================================ Forms ===============================================


.actions {
	button, a {
		margin-right: 10px;
	}
}

// Override Materializecss default form formatting
form {
	input[type=text], input[type=password], input[type=email], input[type=url], input[type=time],
	input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search],
	textarea.materialize-textarea, .select-wrapper input[type=text] {
		height: 2.3rem;
		margin: 0 0 10px 0;
	}

	select {
		display: block;
    height: 2.4rem;
	  line-height: 3rem;
		margin: 0 0 9px 0;
    padding: 0 1px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
		border-radius: 0px;
    outline: none;   
    width: 100%;
		font-size: 1rem;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='306' height='306' fill='%23666'><polygon points='270.3,58.65 153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35'/></svg>") no-repeat;
		background-size: 12px;
		background-position: calc(100% - 10px) 15px;
		background-repeat: no-repeat;
	}

	select:focus {
		border-bottom: 2px solid $kuning-podang;
		outline: none !important;
		background-color: transparent;
	}

	select option:focus {
		background-color: #9e9e9e !important;
	} 

	.cover-selection {
		[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
			height: 40px;
		}
		.input-field {
			margin-top: 0px;
		}
	}

	.header {
		font-weight: bold;
	}

	.compact {
		margin-bottom: 2px;
		.input-field {
			margin-top: 0px;
		}
	}

}

.ui-combobox {
	input.ui-widget {
		height: 2.4rem;
	  line-height: 3rem;
		margin: 0 0 9px 0;
    padding: 0 1px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
		border-radius: 0px;
    outline: none;   
    width: 100%;
		font-size: 1rem;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='306' height='306' fill='%23666'><polygon points='270.3,58.65 153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35'/></svg>") no-repeat;
		background-size: 12px;
		background-position: calc(100% - 10px) 15px;
		background-repeat: no-repeat;
	}
}

.input-field .prefix ~ .ui-combobox {
	margin-left: 3rem;
	input.ui-widget {
		width: calc(100% - 3rem);
	}
}

.input-field .prefix ~ select {
	margin-left: 3rem;
	width: calc(100% - 3rem);
}


#error_explanation {
	margin: 0.5rem 0 1rem 0;
    background-color: #ef9a9a;
    transition: box-shadow .25s;
    border-radius: 2px;
    padding: 12px;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    h2 {
    	font-size: 20px;
    	margin: 6px 0 6px;
    }
    ul {
    	padding: 0px 10px 0px 20px;
    	li {
    		list-style-type: disc;
    	}
	}
}

.field_with_errors {
	background-color: #fdc;
}

.section-header {
	font-size: 1.1rem;
	font-weight: bold;
  text-transform: uppercase;
}

.tabular-header {
	font-size: 0.9rem;
	font-weight: bold;
  text-transform: uppercase;
	color: $light-grey;
}

.select-input {
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	outline: none;
	height: 3rem;
	line-height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 15px 0;
	padding: 0;
	display: block;
}

button {
	i.material-icons {
		line-height: 36px !important;
	}
}

button.delete-button {
	color: $muted-red;
	background-color: $lighter-grey;
}

button.delete-button :hover {
	background-color: $light-grey;
}

.small-radio-label {
  font-size:0.8rem !important;
  padding-left: 0px !important;
  padding-top:20px !important;
}

.dropdown-content {
	li {
		input[type="submit"] {
			background-color: transparent;
			border: none;
			padding: 0.2rem 1rem;
			font-size: 1rem;
			color: #e7580b;
		}
		button[type="submit"] {
			background-color: transparent;
			border: none;
			padding: 0.2rem 1rem;
			font-size: 1rem;
			color: #e7580b;
		}
	}
}

// .field_with_errors {
// 	input {
// 		border-color: rgb(163, 6, 6);
// 		background-color: #ef9a9a;
// 	}
// 	label {
// 		color: rgb(163, 6, 6);
// 	}
// 	label.active {
//     font-size: .8rem;
//     transform: translateY(-140%);
//   }
// }

input.invalid-input {
	border-color: rgb(163, 6, 6);
	background-color: #f0bfbf;
}

// Leave request
.leave-request-container {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 0px 10px;
	.row {
		border-top: 1px solid lightgray;
		margin-bottom: 0px;
		padding: 10px 0px;
	}
	.row:first-child {
		border-top: none;
	}
	p {
		-webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
	}
	.label-text {
		font-size: 0.9rem;
		color: #777;
		text-transform: uppercase;
	}
}

.input-field .prefix ~ .select-wrapper {
	margin-left: 3rem;
	width: calc(100% - 3rem);
}

// ========================================= Typography =============================================
html {
  font-family: Roboto, sans-serif;
}

.giant-letter {
	font-size: 3rem;
}

span.box {
  background-color: #039be5;
  border-radius: 4px;
  color: whitesmoke;
  min-width: 3rem;
  padding: 3px 15px;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

h6 {
	font-size: 1.2rem;
  font-style: italic;
}

.large-letter {
	font-size: 1.6rem;
}

.cb-label {
	font-size: 1rem;
	line-height: 0.7rem;
	color: #eee;
}

span.tag {
	background-color: #85bb85;
	padding: 2px 10px;
	border-radius: 15px;
	margin-right: 4px;
}

div.tagsinput {
	margin-top: 10px;
}

input[type=text]:disabled, input[type=text][readonly="readonly"], input[type=password]:disabled, input[type=password][readonly="readonly"], input[type=email]:disabled, input[type=email][readonly="readonly"], input[type=url]:disabled, input[type=url][readonly="readonly"], input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled, input[type=date][readonly="readonly"], input[type=datetime-local]:disabled, input[type=datetime-local][readonly="readonly"], input[type=tel]:disabled, input[type=tel][readonly="readonly"], input[type=number]:disabled, input[type=number][readonly="readonly"], input[type=search]:disabled, input[type=search][readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {
	color: rgba(0, 0, 0, 0.58);
}

.cat {
	margin-left: 10px;
	margin-right: 10px;
	color: $kuning-podang;
}

// ============================================ Buttons =============================================

.btn-small {
	height: 24px;
	line-height: 26px;
	font-size: 12px;
	width: 113px;
	margin: 2px;
}

// ========================================== Icon Buttons ==========================================

.red-icon-button {
	border-radius: 4px;
	display: inline-block;
	padding: 1px 5px;
	background-color: salmon;
	
	i.material-icons, i.material-icons.left {
		margin-right: 1px !important;
		color: #C62828 !important;
	}
	a {
		color: #C62828 !important;
	}

}

// ============================================= Navbar =============================================
nav.top-navbar {
	background-color: #eceff1 !important;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	i {
		color:	#666;
	}
	.dropdown-content {
		padding: 10px;
		min-width: 200px;
		li {
			a {
				height: 54px;
				line-height: 54px;
			}
		}
	}
	ul {
		li {
			a {
				&:hover {
					background-color: rgba(0, 0, 0, 0.03);
				}
			}
		}
	}
	form {
		padding-top: 9px;
		.input-field {
			input[type=search] {
				border: 1px solid #dfe2e4;
				border-radius: 3px;
				width: 59px;
				padding-left: 0.5em;
			}
			input[type=search]:focus {
				width: calc(100% - 10px);
			}
			input[type=search] ~ .material-icons {
				line-height: 40px;
				color: #666;
			}
		}
	}
	ul.flush-left {
		float: left;
	}
	ul.flush-right {
		width: auto;
		overflow: hidden;
	}
	li.fill-space {
		float: none;
		width: auto;
		overflow: hidden;
	}
}

nav {
	background-color: $dark-grey;
	ul {
		li {
			a {
				max-width: 250px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				&:hover {
					background-color: rgba(0,0,0,.3);
				}
				height: 54px;
				img { padding-top: 10px }
			}
		}
	}
	ul.dropdown-content { 
    a { 
      height: 27px; 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
		}
	}
	ul.dropdown-content.menu {
    a {
			height: 48px !important;
			line-height: 54px;
		}
	}
	img.left { margin-right: 15px; }

	.nav-heading {
		position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 0 0 10px;
    white-space: nowrap;
	}
	.nav-wrapper {
		ul {
			li {
				button {
					margin: 0 15px;
				}
				button.icon {
					outline: none;
					background-color: transparent;
					border: 0;
					height: 52px;					
					i {
						height: 52px;
						padding-top: 7px;
					}
				}
				a.btn {
					i {
						margin-top: -14px;
					}
				}
			}
		}
		i {
	    height: 56px;
	    line-height: 52px;
		}

		select {
			border: none;
			margin: 5px 5px 0 5px;
			option {
				color: black;
			}
		}
		.disabled-menu {
			padding: 0 12px;
			color: #7f7f7f !important;
			cursor: not-allowed;
		}
	}
	.input-field {
		padding: 0 15px;
		input {
			border-bottom: 2px dotted gray;
			width: 85%;
			&:focus, &[type=text]:valid, &[type=password]:valid,
      &[type=email]:valid, &[type=url]:valid, &[type=date]:valid {
        border-bottom: 2px dotted gray;
      }
		}
		label {
			color: white;
		}
	}

	.select-wrapper {
		span.caret {
			color: white;
			top: 0px;
			font-size: 1rem;
		}
		input.select-dropdown {
			border-bottom: none;
			margin: 0px;
			text-align: center;
			height: 54px;
		}
	}

	.input-field {
		i.active {
			color: $blue !important;
		}
		input[type=search] {
			display: block;
			line-height: inherit;
			padding-left: 2.5rem;
			width: calc(100% - 2.5rem);
		}
	}

	::-webkit-input-placeholder {
		color: $navbar-placeholder-text-color;
	}

	:-moz-placeholder { /* Firefox 18- */
		color: $navbar-placeholder-text-color;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		color: $navbar-placeholder-text-color;
	}

	:-ms-input-placeholder {
		color: $navbar-placeholder-text-color;
	}
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat,
nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px
}

nav.light {
	background-color: #4c4951;
}

@media only screen and (min-width: 601px) {
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 54px;
    line-height: 54px;
	}
}

@media only screen and (max-width: 600px) {
	nav {
		ul {
			li {
				a {
					max-width: 150px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

.dropdown-content {
	li {
		& > a, & > span {
			font-size: 1rem;
			padding: 0.2rem 1rem;
		}
	}
}

// ============================================ Message =============================================

#notification-list {
	padding: 0;
	li {
		padding: 10px;
		border-bottom: 1px solid lightgrey;
	}
	.from {
		font-size: 0.8em;
		color: grey;
		line-height: 0.7em;
		padding: 0;
	}

	.message-timeago {
		margin-left: 5px;
		font-size: 0.8em;
		font-style: italic;
		color: grey;
		line-height: 0.9em;
		padding: 0;
	}

	.subject {
		font-size: 0.9em;
		color: #585858;
		font-weight: bold;
		padding: 0;
	}
}

.message-address {
	font-size: 0.8em;
	border-bottom: 1px solid lightgrey;
	.label {
		color: #585858;
	}
}

.message-subject {
	font-size: 1.2em;
	padding-top: 1em;
	font-weight: bold;
}


// ============================================ Badge =============================================

span.inbox-badge {
	background: orangered;
	border-radius: 0.5em;
	color: #ffffff;
	line-height: 1.2em;
	text-align: center;
	font-size: 0.8em;
	border: 2px solid white;
	position: absolute;
	top: 8px;
	right: 10px;
	padding: 0 2px;
	display: inline-block;
}

span.new.nomer {
	background: orangered;
}

span.emblem {
	background: orangered;
	color: white;
	font-size: 0.8em;
	padding: 2px 6px;
	border-radius: 10px;
	margin-left: 5px;
	position: relative;
	top: -8px;
}

span.badge.new {
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
	background-color: #26a69a;
	border-radius: 2px;
}

// =========================================== Main Menu ============================================
.main-menu {
	margin-top: 20px;
}

// =========================================== Dashboard ============================================

.dashboard {
	.card {
		height: 190px;
	}
	
	.widget {
		.card-image {
			height: 190px;
			img {
				clip: rect(0px,100px,50px,0px);
			}
		}
		.card-content {
			padding: 10px;
			ul {
				-webkit-padding-start: 0px;
				-webkit-margin-before: 0em;
				-webkit-margin-after: 0em;
			}
			li {
				line-height: 1.8em;
			}
			li:hover {
				background-color: rgba(0, 0, 0, 0.1)
			}
    }
    .card-reveal {
      padding: 10px 20px !important;
    }
    .tabs, .tab {
      height: 36px;
      line-height: 36px;
    }
	}
	.beta {
		font-variant: small-caps;
		font-size: 16px;
		font-weight: bold;
		color: maroon;
		padding-left: 10px;
		display: inline-block;
	}
}

// ============================================ Toolbar =============================================

.toolbar {
	margin: 10px 0px;
	padding: 6px 20px;
	height: 50px;
	border-top: 1px solid $lighter-grey;
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

	// i.material-icons {
	// 	color: $gray;
	// 	margin-left: 6px;
	// 	font-size: 2.2rem;
	// }

	h5 {
		margin: 0.3em 0 0 0;
	}

	.btn {
		margin-left: 6px;
	}

	.input-field {
		margin-top: 0;
	}
	#context-buttons {
		display: none;
		float: left;
	}

	select {
		height: 2.5rem;
	}

	label.for-select {
		top: 0.6rem;
	}
	.select-grade {
		position: absolute;
		left: 5rem;
		width: 4rem;
	}

	.pagination {
		margin-top: 4px;
		.current {
		  color: #fff;
			background-color: $kuning-podang;
		}
		.previous_page, .next_page {
			font-weight: bold;
		}
	}
	.notes {
		padding-top: 6px;
	}
}

//

body {
	display: -webkit-flex;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	-webkit-flex-direction: column;
}

main {
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.main-home {
	background-color: $lighter-grey
}

.user-avatar {
	margin-top: 6px;
}
.user-avatar-navbar {
	width: 35px;
	border-radius: 50%;
	padding: 0;
	margin-top: 10px;
}
.right-in-header {
	float: right !important;
	position: relative;
  margin: -10px 10px 0px 0;
}

// ============================================ Side Menu ===========================================

ul.side-nav {
	background-color: #292c33
}

ul.side-nav li.logo {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px
}

ul.side-nav li.logo:hover {
    background-color: transparent
}

ul.side-nav {
    overflow: hidden
}

ul.side-nav li {
    line-height: 44px
}

ul.side-nav li:hover, ul.side-nav.fixed li.active {
    background-color: rgba(0, 0, 0, 0.05)
}

ul.side-nav li a {
    font-size: 13px;
    line-height: 44px;
    height: 44px
}

ul.side-nav ul.collapsible-accordion {
    background-color:  $darker-grey;
}

ul.side-nav li.logo {
	background-color: $darker-grey;
}

ul.side-nav .collapsible-header {
	background-color: $darker-grey;
	color: $lighter-grey;
	border: none;
	padding-right: 0;
	margin: 0;
}

ul.side-nav .collapsible-body {
	display: block;
	padding: 0px;
	background-color: $dark-grey;
	border: none;
	line-height: 38px;
	a {
		color: $light-grey;
		margin: 0 1rem 0 2rem;
	}

	ul {
		li.active {
			background-color: $dark-grey;
			border-left: 4px solid $muted-red;
		}
	}
}

ul.side-nav:hover {
    overflow-y: auto
}

ul {
	li {
		.user-profile {
			height: 60px !important;
			line-height: 60px !important;
			padding-left: 0px !important;
			.name {
				padding-left: 10px;
				color: $light-grey;
			}
		}
	}
}

.app-side-menu {
	position: fixed;
	width: 240px;
	left: 0px;
	z-index: 999;
	height: 100%;
	background-color: $darker-grey;
	color: $light-grey;

	.collapsible {
		border: none;
	}

	ul li {
		.collapsible-header {
			background-color: $darker-grey;
			color: $lighter-grey;
			font-weight: bold;
			border: none;
			padding-right: 0;
		}
		.collapsible-body {
			display: block;
			padding: 0px;
			background-color: $darker-grey;
			border: none;
			line-height: 38px;
			a {
				color: $light-grey;
				margin: 0 1rem 0 2rem;
			}

			ul {
				li.active {
					background-color: $dark-grey;
					border-left: 4px solid $muted-red;
				}
			}
		}

		.center {
			text-align: center;
		}

	}

	.btn {
		margin: 5px 5px;
	}

	ul {
		margin: 0px;
		height: 100%;
		background-color: $darker-grey;
	}
}

.sidebar-links {
	a {
		color: #039be5;
		font-size: 14.5px !important;
	}
}

// ============================================ Book List ===========================================


.list_image {
	width:  128px;
	margin-right: 20px;
	margin-left: 10px;
}

.list_description {
	dl {
		margin: 0;		
	}
	dl.compact {
		dd {
			margin: 2px 0;
			.item {
				font-size: 12px;
			}
			.label {
				font-size: 12px;
			}
		}
	}

	dt {
		color:		 #244;
		font-weight: bold;
		font-size:   larger;
	}

	dd {
		margin: 8px 0;
	}

	.label {
		font-size: 0.8rem;
		color: #9e9e9e;
	}

	span.label {
		padding-right: 5px;
	}
	span.item {
		margin-right: 10px;
	}

	.isbn {
		span.item {
			color: $light-grey;
		}
	}
}

.list_actions {
	font-size:    x-small;
	text-align:   right;
	padding-left: 1em;

	a {
		margin: 3px;
		width:  70px;
	}
}

.list_line_even {
	background:   #4FC1E9;
}

.list_line_odd {
	background:   #3BAFDA;
}

.display-field {
	.label, .item, input {
		display: inline-block;
		min-width: 40%;
		text-align: right;
	}
}

.record-field {
	.label, .item {
		display: inline-block;
		vertical-align: middle;
	}
	.label {
		min-width: 30%;
	}
	.item {
		border: solid 1px lightgrey;
		border-radius: 4px;
		min-width: 60%;
		min-height: 34px;
		padding: 5px 10px;
		margin: 2px;
	}
}


.pagination {
	a {
	    display: inline-block;
	    font-size: 1rem;
	    padding: 0 10px;
	    line-height: 30px;
	    border-radius: 2px;
	    text-align: center;
	}
	.current {
		background-color: #ee6e73;
		display: inline-block;
	    font-size: 1rem;
	    padding: 0 10px;
	    line-height: 30px;
	    border-radius: 2px;
	}
}

.copies {
	min-width: 1rem;
	max-width: 3rem;
	padding: 0 6px;
	text-align: center;
	line-height: inherit;
	color: white;
	border-radius: 4px;
	background-color: $blue;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.disposed-book {
	background-color: #b38d81 !important;
	color: white;
	a {
		color: $dark-grey;
	}
}
 
// ======================================== Collection =========================================
.collection .collection-item {
	padding: 10px 10px;
}

.collection.with-header .collection-item {
	padding-left: 10px;
}

.card-panel, #modal-content {
	.collection-header {
		font-weight: bold;
		color: #333;
		background-color: #ccc;
	}
}

.collection .no-bottom-border {
	border-bottom: none !important;
}

// ======================================== Collapsible =========================================
.panel {
	.collapsible-header {
		background-color: #eee;
		color: #444;
		font-weight: bold;
	}
	.collapsible-header.active {
		color: #222;
		background-color: #ddd;
		font-weight: bold;
	}
	.collapsible-body {
		background-color: #fff;
	}
}
.collapsible-header.active i.arrow {
	-ms-transform: rotate(90deg) translateX(40%) translateY(-40%); /* IE 9 */
	-webkit-transform: rotate(90deg) translateX(40%) translateY(-40%); /* Chrome, Safari, Opera */
	transform: rotate(90deg) translateX(40%) translateY(-40%);
}

// =========================================== Modal =========================================
.modal {
	max-height: 80%;
}

.modal.modal-fixed-footer {
	padding: 0;
	height: 80%;
}

.modal.small {
	max-height: 450px !important;
	width: 400px !important;
}

.modal.medium {
	max-height: 550px !important;
	width: 600px !important;
}

.modal.wide {
	max-height: 80% !important;
	width: 95% !important;
}

// =========================================== Carpool =========================================
.carpool {
	.entry-wrapper {
    // border-collapse: collapse;
    // text-align: center;	

		.entry {			
			//font-size: 2.5rem;
			border-radius: 4px;
			text-align: center;		
		
			.done-wrapper {
				display: inline-block;
				float: left;
				width: 70px;
				border-radius: 5px 0 0 5px;
			}
			.middle-wrapper {
				display: inline-block;
				height: 70px;
				vertical-align: middle;
				a {
					font-size: 4.3em;
					font-weight: bold;
					line-height: 1.3em;
				}
			}
			.loading-wrapper {
				display: inline-block;
				float: right;
				width: 70px;
			}
			.wait-wrapper {
				display: inline-block;
				float: right;
				width: 70px;
				border-radius: 0 5px 5px 0;
			}

			.input-field label {
				top: 10px;
			}
		}		
	}

	ul {
		li {  
			padding: 8px; 
			float: left; 
			height: 90px; 
		}
	}
	
	.ready {
		background-color: $blue;
	}
	.leaving {
		background-color: #e6312c;
	}
	.loading {
		background-color: #43d218;
	}
	.waiting {
		background-color: #f8af2a;
	}
	.done {
		background-color: grey;
	}

	// --- Tab bar for Carpool 
	.tabs {
		// position: fixed;
    // top: 64px;
    z-index: 997;
	}

	.tab-content {
		margin-top: 30px;
	}
}

.wait-pax {
	font-size: 1.5rem;
}

.pax-entry {
	margin-bottom: 5px;
}

@media only screen and (min-width: 0px) {
	.carpool {
		nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
			height: 54px;
			line-height: 54px;
		}		
	}
}

@media only screen and (min-width: 601px) {
	.carpool {
		.entry-wrapper {
			.entry {			
				border-radius: 4px;

				.middle-wrapper {
					height: 80px;
					a {
						font-size: 4.3em;
						font-weight: bold;
						line-height: 1.4em;
					}
				}
			}		
		}
		ul {
			li {  
				height: 90px; 
			}
		}
	}
}

@media only screen and (min-width: 993px) {
	.carpool {
		.reorder-button { display: none };
		.entry-wrapper {
			.entry {			
				border-radius: 4px;
				padding: 0 8px;
				.done-wrapper { display: none };
				.loading-wrapper { display: none };
				.wait-wrapper { display: none };
				.middle-wrapper {
					height: 230px;
					a {
						font-size: 15em;
						font-weight: bold;
						line-height: 1.0em;
					}
				}
			}		
		}
		ul {
			li {  
				height: 250px; 
			}
		}

		ul#shuttle-cars {
			
			// Shuttle cars display will be shown in 4 columns
			-webkit-column-count: 4; /* Chrome, Safari, Opera */
    	-moz-column-count: 4; /* Firefox */
			column-count: 4;
			-webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    	-moz-column-rule-style: solid; /* Firefox */
			column-rule-style: solid;
			-webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    	-moz-column-gap: 0px; /* Firefox */
			column-gap: 0px;
		
			.col { padding: 0 5px }
			li { height: 150px }
			.entry-wrapper {
				width: inherit !important;
			}
			.done-wrapper { display: none };
			.wait-wrapper { display: none };
			.middle-wrapper {
				height: 140px;
				padding: 0 4px;
				a {
					font-size: 9em;
					font-weight: bold;
					line-height: 1.0em;
				}
			}
		}

		ul#waiting-cars {	
			li { height: 150px }
			.entry-wrapper {
				width: 25% !important;
			}
			.done-wrapper { display: none };
			.wait-wrapper { display: none };
			.middle-wrapper {
				height: 140px;
				padding: 0 4px;
				a {
					font-size: 10em;
					font-weight: bold;
					line-height: 1.0em;
				}
			}
		}
	}
}

.big-chip {
	background-color: $kuning-podang;
	height: 40px;
	border-radius: 20px;
	padding: 2px 5px;
	text-align: center;
	width: 150px;
	font-size: 28px;
	color: white;
	line-height: 37px;
}

.smart-card-entry {
	height: 50px;
	width: 200px;
	border: 1px black;
	border-radius: 4px;
	background-color: lightgrey;
	padding: 7px 7px 2px 10px;
	float: left;
	margin-right: 20px;
  margin-top: 10px;

	.code {
		width: 140px;
		float: left;
	}

	.trash {
		width: 30px;
		float: right;
		margin-top: 3px;
	}
}

// ==========

@keyframes ticker {
	0%   {margin-top: 0}
	25%  {margin-top: -250px}
	50%  {margin-top: -500px}
	75%  {margin-top: -750px}
	100% {margin-top: 0}
}

.scroll-text {
	width: 100%;
  height: 250px;
  margin: 0px;
	overflow: hidden;
	padding: 5px 0 0 0;
  -webkit-user-select: none

	span {
		float: left;
		color: #fff;
		padding: 6px;
		position: relative;
		top: 1%;
		border-radius: 4px;
		box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4);
		-webkit-font-smoothing: antialiased;
		-webkit-user-select: none;
		cursor: pointer
	}

	ul {
		float: left;
		animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
		-webkit-user-select: none
	}

	ul li {line-height: 30px; list-style: none }

	ul li a {
		color: #fff;
		text-decoration: none;
		-webkit-font-smoothing: antialiased;
		-webkit-user-select: none
	}

} 

.fixed-footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: white;
}

// ============================================ Tabs ===========================================

.tabbed {
	.col {
		padding-top: 10px;
	}
}

.tab-content {
	padding: 15px;
}

// ============================================ Layout ===========================================


body {
  background-color: #fcfcfc;
}
#main,
footer {
  //padding-left: 240px;
	.copyright {
		line-height: 1em;
		padding: 1rem 1rem;
	}
}

@media only screen and (max-width: 993px) {
  #main,
  footer {
    padding-left: 0px;
  }
}

#input-select .input-field label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem;
}
#sidenav-overlay {
  background-color: transparent;
}
.container {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 100% !important;
  width: 98%;
}

section {
	padding: 0.75rem;
}

.zero-margin {
  margin: 0 !important;
}

.zero-padding {
  padding: 0 !important;
}

.with-side-padding {
	padding: 0 20px;
}

.ellipsis-container {
	margin: 0;
	padding: 5px 0;
	white-space: nowrap;
	.ellipsize {
		overflow:hidden;
		text-overflow: ellipsis;
	}
}

// For PDF forms
.page-break { display:block; clear:both; page-break-after:always; }

// ============================================ Print ===========================================

@media print {
	nav { display: none }
	.nav-wrapper { display: none }
	header {
		display: table-header-group;
	}
	#main {
		padding-left: 0;
	}
	html, body {
		font: 12pt Roboto, Cambria, Arial, sans-serif;
		line-height: 1.1;
	}
	.card, .card-panel {
		border: 0 0 1px 0;
		box-shadow: none;
		padding: 0;
	}
	h5, h6 {
		font-size: 1.2rem;
	}
	h4 {
		font-size: 1.4rem;
	}

	.template-body {
		tr { page-break-inside: avoid; }
	}

	.template-closing{
		table { page-break-inside: avoid; }
	}

	footer {
		display:none;
	}

	table.bordered {
		border: 0.5px solid grey;
		td {
			border: 0.5px solid grey;
		}
	}
	table.section-bordered {
		border: 2px solid black;
		thead {
			tr:last-child {
				border-bottom: 2px solid black;
			}
		}
		tfoot {
			tr:first-child {
				border-top: 2px solid black;
			}
		}
	}
	
	thead { display: table-header-group !important }
	tfoot { display: table-row-group !important }
	tr { page-break-inside: avoid !important }

	table { page-break-inside:auto }

  .no-print, .no-print * {
		display: none !important;
	}

	.letter-page {
		font-family: "Cambria, Calibri, Times Roman, serif";
		padding: 0.3in 0.3in 0.3in 0.25in !important;
		box-shadow: none !important;
	}
}

thead { display: table-header-group !important }
tfoot { display: table-row-group !important }
tr { page-break-inside: avoid !important }

table { page-break-inside:auto }

// ======================================= Preview print =======================================

.page-background {
	background-color: $light-grey;
	padding: 20px 0;

	.letter-page {
		background-color: white;
		width: 8.5in;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		font-family: "Cambria, Calibri, Times Roman, serif";
		padding: 1.05in 1.05in 1.05in 1.0in;
		margin: 0px auto;
		page-break-after: always;
	}
}

// ============================================ Card ===========================================


.card.book-info {
	position: relative;

	.card-image {
		height: 250px;
		overflow: hidden;
	}
	.book-title {
		margin: 0 5px;
		font-weight: 300;
		color: #424242 !important;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	i.material-icons {
		margin-right: 10px;
	}

	.card-action {
		.row {
			margin-bottom: 0;
		}

		a {
			margin: 0 5px;
		}
		i.material-icons {
			margin-right: 10px;
		}
		button {
			margin: 0 1em;
		}
	}
}

.card.horizontal {
	display: flex;
	.card-stacked {
		display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
	}
}

.card .card-content .card-title {
	display: block;
	line-height: 32px;
	margin-bottom: 8px;
}

.card-panel {
	.card-panel-header {
		background-color: lightgrey;
		margin: -20px -20px 10px;
		padding: 12px 20px;
		font-size: 1.1em;
	}
}

// ============================================ Left Sidebar ===========================================


#slide-out li a i {
  line-height: inherit;
  width: 2rem;
  font-size: 1.6rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

// ul.side-nav.leftside-navigation {
//   top: 64px;
// }

a.sidebar-collapse {
  position: absolute;
  left: 14px;
  top: 14px;

  i {
  	line-height: 37px;
  }
}

// ===================================== Right collapsed menu =========================================

.sidenav-trigger {
	margin-right: 10px;
}

// ============================================ Login Page ===========================================

.login-box {
	background: #eceff1;
	padding: 0;
	.collapsible {
		box-shadow: none;
		border-left: none;
		border-right: none;
	}
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.12);
}

.login-form-text{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.profile-image-login{
  width: 100px;
  height: 100px !important;
}

// ======================================== Barby barcode  ==========================================
table.barby-barcode {
	border-spacing: 0;
}
tr.barby-row {}
td.barby-cell {
	width: 2px; height: 20px;
	padding: 0px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
td.barby-cell.on { background: #000; }

// ============================================ Comments +===========================================

.comment-section {
	.comment-widget-header {
		background: $lighter-grey;
		color: $gray;
		h3 {
			color: $gray;
			i {
				margin-right: 4px;
				color: $gray;
			}
		}
		span.widget-button {
			margin: 0 9px 0 0;
		}
	}
	.comment-form-container {
		margin-top: 10px;     
		padding-top: 10px;
		padding-left: 10px;
		background-color: $lighter-grey;
		.comment-controls {
			padding-right: 30px;
			position: relative;
			font-size: 12px;
			display: block;
		}
	}
	.comments-list-container {
		margin-left: 0px;
		margin-right: 0px;
		ul.comment-list {
			margin: 10px 0px 10px 0px;
			li.comment-container {
				list-style: none;
				padding-top: 10px;
				padding-left: 4px;
				margin-top: 10px;
				margin-bottom: 10px;
				border-top: 1px solid #CACACA;
				position: relative;
				display: list-item;
			}

		}       
	}
	.comment-text-container {
		padding-right: 0px;
		position: relative;
		font-size: 12px;
		display: block;
		margin-left: 48px;
		min-height: 50px;
		.comment-user-name {
			margin-bottom: 6px;
			color: $darker-grey;
			font-weight: bold;
		}
		.comment-date-ago {
			margin-right: 12px;
			color: $dark-grey;
			font-weight: bold;
		}
		.comment-title {
			font-size: 14px;
			font-weight: bold;
			color: $dark-grey;
			word-wrap: break-word;
		}
		.comment-text {
			font-size: 14px;
			color: $dark-grey;
			line-height: 1.2rem;
			word-wrap: break-word;
			p {
				padding: 0;
				margin-bottom: 1em;
			}
		}
	}
	.comment-footer {
		margin-top: 4px;
		margin-left: 48px;
		display: block;
		color: $dark-grey;
		font-size: 11px;
		a {
			color: #B5B5B5;
			text-decoration: none;
		}
		a:hover {
			color: $light-grey;
		}
	}
	.comment-reply-box {
		margin-left: 0px;
	}
	.comment-user-avatar {
		margin-right: 2px;
		display: block;
		float: left;
		padding-right: 10px;
		i {
			font-size: 3.5em;
		}
	}   
}

// ============================================ jQuery UI ===========================================
.ui-widget {
	font-family: Roboto, Arial, sans-serif;
	font-size: 1em;
}

.ui-autocomplete {
	width:  480px;
	z-index:1030 !important;
	font-family: Roboto, Arial, sans-serif;
	font-size: 1em;
    max-height: 350px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

.ui-front {
	height: 480px;
}

.vmiddle {vertical-align: middle}


.t_receipt_border {
    border-style: solid;
    border-width: thin;
    margin: 0 px;
    border-color: black;
    padding: 0.3%;
    font-size: 12px;
}

.ui-state-default {
	border: none;
	background: none;
}

.ui-state-highlight { 
	height: 70px; 
	background: pink;
}

@media only screen and (min-width: 0px) {
	.ui-state-highlight { 
		width: 100%;
		margin-left: 0;
	}	
}

@media only screen and (min-width: 601px) {
	.ui-state-highlight { 
		width: 50%;
		margin-left: 0;
	}	
}

@media only screen and (min-width: 993px) {
	.ui-state-highlight { 
		width: 25%;
		margin-left: 0;
	}	
}

.drag-handle i {
	line-height: 1.7em;
	font-size: 2.9em;
}

.ui-autocomplete {
	max-height: 300px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
* html .ui-autocomplete {
	height: 100px;
}
.ui-autocomplete-loading {
	background: white image-url("ui-anim_basic_16x16.gif") right center no-repeat;
}
.t_form_lr_border {
    border-style: solid;
    border-width: thin;
    border-color: black;
    font-size: 16px;
    margin-bottom: 0px !important;
}
